<?xml version="1.0"?>
<launch>
  	<arg name="rate" default="100"/>
	<arg name="vehicle_name" default="H01"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_viz_link" ns="$(arg vehicle_name)"
		args="0 0 0 -1.57 0 3.14 H01/imu_viz_link H01/imu_link"/>

	<node pkg="tf2_ros" type="static_transform_publisher" name="horiz_ouster_link" ns="$(arg vehicle_name)" 
		args="0 0 0.08 2.35619 0 0 H01/imu_viz_link H01/horiz_ouster_link"/>

	<!--<node pkg="tf2_ros" type="static_transform_publisher" name="body_aligned_imu_link_to_os1_vert_sensor"
		args="-0.145 0 -0.075 1.5707 0 1.5707 imu_viz_link vert_ouster_link"/>-->	
</launch>
