<?xml version="1.0"?>
<launch>
  	<arg name="rate" default="100"/>
	<arg name="vehicle_name" default="H01"/>
	<node pkg="tf2_ros" type="static_transform_publisher" name="imu_viz_link" ns="$(arg vehicle_name)"
		args="0 0 0 -1.57 0 3.14 $(arg vehicle_name)/imu_viz_link $(arg vehicle_name)/imu_link"/>

	<node pkg="tf2_ros" type="static_transform_publisher" name="horiz_ouster_link" ns="$(arg vehicle_name)" 
		args="0 0 0.08 2.35619 0 0 $(arg vehicle_name)/imu_viz_link $(arg vehicle_name)/horiz_ouster_link"/>

	<node pkg="tf2_ros" type="static_transform_publisher" name="vert_ouster_link" ns="$(arg vehicle_name)"
		args="-0.145 0 -0.075 1.5707 0 -1.5707 $(arg vehicle_name)/imu_viz_link $(arg vehicle_name)/vert_ouster_link"/>	
</launch>
